.center{
	text-align: center;
}

.right{
	text-align: right;
}

.plane{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.img_2 {
	width: auto;
	text-align: center;
}

hr{
	width: 100%;
	visibility: hidden;
}
